<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <section class="container">
        <section class="indexItems">
          <ul class="options">
          <% for(var i=0; i<items.length; i++) {%>
            <li class="specs">
              <h3><%= items[i].name %></h3>
              <p>$<%= items[i].price %></p>
              <img src="<%= items[i].pic %>" alt="item image">
              <p><%= items[i].stock %> left</p>
              <p><%= items[i].code %></p>
            </li>
          <% } %>
          </ul>
        </section>

    <section class="keypad" >
      <input id="vendNum" type="text" name="code" value="" placeholder="Type in or click code of item you want">
      <section class="numPad">
        <button id="clickMe" type="button" class="num clickable" name="button">Submit Choice</button>
        <button type="button" class="num clickable">1000</button>
        <button type="button" class="num clickable">6666</button>
        <button type="button" class="num clickable">9000</button>
        <button type="button" class="num clickable">2121</button>
        <button type="button" class="num clickable">1984</button>
    </section>
    </section>

      <section class="display" >
        <h3 id="dispName"></h3>
        <img id="dispImg" src="" alt="item image">
        <p id="dispPrice"></p>
      </section>

  </section>
  <script src="main.js" charset="utf-8"></script>
  </body>
</html>
